@{
    ViewData["Title"] = "Home Page";
}

@section head{
    <style type="text/css">
        body, header {
            background-image: url('../Files/Images/plants.png');
            background-size: cover;
            height: 100%;
        }
    </style>
}
    <div class="text-center">
        <h1 class="display-4"></h1>
        @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
    </div>
