@model NbdAplication.Models.Nbdstaff

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Nbdstaff</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StaffFirst" class="control-label"></label>
                <input asp-for="StaffFirst" class="form-control" />
                <span asp-validation-for="StaffFirst" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StaffLast" class="control-label"></label>
                <input asp-for="StaffLast" class="form-control" />
                <span asp-validation-for="StaffLast" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OccupationID" class="control-label"></label>
                <select asp-for="OccupationID" class="form-control" asp-items="ViewBag.OccupationID">
                    <option value="">Select a Occupation</option>
                </select>
                <span asp-validation-for="OccupationID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SaleID" class="control-label"></label>
                <select asp-for="SaleID" class="form-control" asp-items="ViewBag.SaleID">
                    <option value="">Select a Sale</option>
                </select>
                <span asp-validation-for="SaleID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DesignerID" class="control-label"></label>
                <select asp-for="DesignerID" class="form-control" asp-items="ViewBag.DesignerID">
                    <option value="">Select a Designer</option>
                </select>
                <span asp-validation-for="DesignerID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
